{% extends "adminbase.html" %}
{% block title %}Dealer List{% endblock %}
{% block role %}{{role}}{%endblock%}
{% block maincontent %}
    <div class="main-content">
        <h1>Dealers List</h1>
        <form id = "searchUsers" method="GET" action="{{url_for('admin.dealerList')}}">
            <h3>Search by Dealer ID</h3>
            <input type="text"  placeholder="Enter Dealer ID" name='search_id' required />
            <button type="submit">Search</button>
        </form>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Dealer ID</th>
                    <th>Name</th>
                    <th>Aadhar Number</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealers %}
                    <tr>
                        <td>{{ dealer['Dealer_ID']}}</td>
                        <td>{{ dealer['Name'] }}</td>
                        <td>{{ dealer['Aadhar_Number'] }}</td>
                        <td>{{ dealer['Phone_Number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}