<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('employee.static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h3>Dashboard ({% block role %}Guest{% endblock %})</h3>
        <a href="{{ url_for('employee.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('employee.grievance') }}">Grievances</a>
        <a href="{{ url_for('employee.warehouse_stock') }}">Warehouse Stock</a>
        <a href="{{ url_for('employee.procurement') }}">Procurement</a>
        <a href="{{ url_for('employee.manage_deliveries') }}">Deliveries</a>
        <a href="{{ url_for('employee.manage_returns') }}">Manage Returns</a>
        <a href="{{ url_for('employee.employees') }}">Employees</a>
        <a href="{{ url_for('employee.logout') }}">Logout</a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>